* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  align-content: center;
}
@media screen and (max-width: 780px) {
  main {
    width: min-content;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  main {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
}

/*HamburgerMenu  */
.HamburgerMenu {
  display: none;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #dd7b03;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/* nav */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 38px;
  font-size: 21px;
  color: #d27722;
  font-size: 700;
}
.logo h1 {
  padding-right: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 2rem 4rem;
}
.navCnd {
  display: flex;
  gap: 3rem;
}
.navContn {
  display: flex;
  gap: 1rem;
}
.navContn a {
  display: flex;
  justify-items: center;
  align-items: center;
}
.slctDiv {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.select {
  color: #d27722;
  border: none;
}

.info a {
  text-decoration: none;
  text-align: center;
}
.navBtn {
  padding-left: 10px;
}
.navBtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 5px 15px;
  background-color: #d27722;
  border-radius: 5%;
}
.navBtn img {
  padding-left: 10px;
}
@media screen and (max-width: 780px) {
  .navContn {
    display: none;
  }
  .info {
    display: none;
  }
  .nav {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .nav {
    display: none;
  }
  .HamburgerMenu {
    display: block;
  }
}

/* hero */
.heroImg {
  border-radius: 10px;
  padding-left: 2rem;
  display: flex;
  justify-content: end;
}
.secHero {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 7rem;
}

.hero h1 {
  font-size: 3rem;
  padding-right: 22rem;
}
.hero p {
  padding-top: 1rem;
}
.Pacifico {
  font-family: "Alfa Slab One", cursive;
  font-family: "Pacifico", cursive;
  color: #d27722;
}
.heroVd {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 1rem;
}
.heroVd a {
  display: flex;
}
.heroBtn {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}
.heroBtnOne {
  background-color: #d27722;
  color: white;
}
.heroBtnOne {
  background-color: #d27722;
  color: white;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #d27722;
}
.heroBtnTwo {
  color: #d27722;
  border: 1px solid #d27722;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}
@media screen and (max-width: 780px) {
  .secHero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0%;
    width: min-content;
  }
  .hero {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .hero h1 {
    font-size: 2rem;
    padding-right: 0%;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .heroImg {
    border-radius: 0rem;
    overflow: hidden;
    inline-size: auto;
  }
  .hero {
    justify-items: center;
    justify-content: center;
  }
  .hero p {
    padding: 0%;
  }
  .secHero {
    justify-content: center;
    align-items: center;
    padding: 0%;
    width: auto;
  }
}

/* rating */
.secRating {
  display: flex;
  justify-content: center;
}
.rating {
  display: inline-flex;
  justify-content: center;
  gap: 15rem;
  background-color: #fffdf4;
  color: #d27722;
  padding: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-style: solid;
  border-color: #d27722;
  border-width: 1px;
  border-radius: 10px;
}
.rating h1 {
  font-size: 3rem;
  font-weight: bold;
}
.rating p {
  color: black;
  font-size: small;
  text-align: center;
}
@media screen and (max-width: 780px) {
  .rating {
    gap: 2rem;
    width: min-content;
  }
  .rating div {
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .secRating {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .rating {
    gap: 2px;
    display: inline-grid;
  }
  .rating div {
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .secRating {
    padding-top: 2rem;
  }
}

/* veganDiv */
.vagenDiv {
  display: flex;
  justify-content: center;
  padding-left: 20rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.vagen {
  display: inline-flex;
  justify-content: center;
  border: 1px solid #ffdbb8;
  border-radius: 10px;
  width: 20rem;
  padding: 1rem;
}
.vagenCnt {
  padding-left: 1rem;
}
@media screen and (max-width: 780px) {
  .vagenDiv {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .vagenDiv {
    display: none;
  }
}

/* explore */
.explore {
  padding: 1% 5% 1% 5%;
  display: grid;
  justify-content: center;
}
.expDiv {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.expTittle {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.expTittle h1 {
  font-size: 50px;
}
.expSearch {
  display: flex;
  align-items: center;
  gap: 5px;
}
.expCntdetail {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffdbb8;
  border-radius: 10px;
  width: 28rem;
  padding: 1rem;
  gap: 1rem;
}
.foodCard {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3rem;
}
@media screen and (max-width: 780px) {
  .expSearch {
    display: none;
  }
  .expTittle {
    padding-top: 3rem;
  }
  .expDiv {
    display: flex;
    justify-content: center;
  }
  .expCntdetail {
    width: auto;
  }
  .foodCard {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
}
@media screen and (max-width: 780px) {
  .expSearch {
    display: none;
  }
  .expDiv p {
    display: none;
  }
  .expTittle h1 {
    font-size: 43px;
  }
  .foodCard {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
  }
}

/* footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ftrDiv {
  background-color: #d27722;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
  border-radius: 10px;
}
.ftrDivCnt {
  display: flex;
}
.ftrLogo h1 {
  font-size: 56px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffdbb8;
}
.ftrLogo {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.ftrLing {
  display: flex;
  gap: 17rem;
  padding: 3rem;
  line-height: 2rem;
}
.ftrLing div a {
  color: #ffdbb8;
}

.ftrSmId {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
.copyRight {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-left: 5rem;
}
.cpySimble {
  display: none;
  color: #ffdbb8;
  padding-bottom: 1rem;
}
.ftrcook {
  display: flex;
  gap: 3rem;
}
@media screen and (max-width: 780px) {
  .ftrDivCnt {
    display: flex;
    flex-direction: column;
  }
  .ftrLing {
    gap: 2rem;
  }
  .copyRight {
    display: none;
  }
  .cpySimble {
    display: flex;
  }
  .ftrcook {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 400px) {
  .ftrLogo {
    display: flex;
    align-items: center;
    padding-top: 6rem;
    justify-content: center;
  }
  .ftrDivCnt {
    display: block;
  }
  .ftrLing {
    display: block;
    gap: 2rem;
  }
  .copyRight {
    display: none;
  }
  .cpySimble {
    display: flex;
  }
  .ftrcook {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer {
    display: inline;
  }
}
